---

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>5P0M - Magnus site</title>
    
    <link rel="stylesheet" href="/static/stylesheet.css"/>


</head>

<body> 
    <div>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/international">International</a></li>
        
                </ul>  
           </nav>
        </header>

    </div>

    <div class="main">

        {{ content }}

    </div>
</body>
</html>